<a href="https://colab.research.google.com/github/jyoojin132/IST210-Spring2020/blob/master/Final_Project_IST210.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Final Project 
##By: Alexander Christopher, Yoo Jin Jeong, Justin Cancelliere


##Introduction
Our idea is for a Bookstore business. We plan to gather data regarding the customers’ wants such as the book they are looking for, the genre, where it is located, the price, and whether or not they want to utilize the cafe. This idea is unique as it uses information and data from a bookstore and uses it to convey typical data that would be collected in a scenario similar. This business is not brand new as it borrows from the bookstore Blueprint and we liked this business because we can add and change structures within the business. A typical interaction at the bookstore would go as follows: a customer interacts with the store employee looking for a book. The employee asks what the title and genre of the book is. Using this information the employee can find the aisle based on the genre of the book. The customer is told the price of the book and asks whether or not there is a cafe available for refreshments. He/she/them is then informed of the availability of said cafe and we can get the information for how many consumers there are and how much money is made in the bookstore. The goal with the data collected using this database model would be too see which books are more popular and whether or not a cafe being present is a beneficial attribute. Also, we can figure out which genre of books is selling the most and the bookstore can make major decisions to become a successful business.

##ER Diagram
- An image of your final ER diagram. See your last group assignment for suggestions/corrections and the rubric below to make sure you include everything required.
![alt text](https://raw.githubusercontent.com/jyoojin132/IST210-Spring2020/master/Group%20Assignment%202.png)
- Discuss any specifics in regards to your ER Diagram (100 - 250 words) Our diagram is conveying the relationships between entities within a bookstore. <br>
Our entities include a bookstore store business, aisles, books, cafe, genres, and store employees. To start from book store business, the PK was Store ID and under that, there were three FKs. The FKs are cafe number, employee number, and aisle and other entities there are address and hour. Looking into Store ID, it contains a cafe. The PK for the cafe is Cafe ID and the location and the employee ID are the FKs. Except for those entities, there are Hours Of Operation and the menu. From the FP Employee number works with store employees. So, the PK for store employees is Employee ID and the other entities are position, first name, last name, and phone number. Also, this Store Employee diagram contains the cafe’s employee ids. Going back to the book store business diagram, the FK aisles contain the store aisles and connected to the PK Aisles ID. Under that, there are two FKs and it is genre and ISBN and the other entity is the shelf. For the FK Genre, it is the Genre ID so, their connection it (1,1). For the ISBN, it is connected with books so, the PK is ISBN and the FK is a genre and also tow entities price and pages. The FK in Genre is connected to the genres ID as a PK. Overall, we wanted to plan out a smooth diagram that connects all the 6 digrams to each other. Also, we focused on making the diagram look clean and easy to read.

- Discuss how you created your database, tables, and inserted data (100 - 250 words)<br>
We wanted to make a program that will benefit our bookstore. Also we considered that our bookstore has an additional section specifically for a café. So in the biggest database and tables and data that we inserted was the bookstore business itself. It has the store ID, café ID, employee ID, aisles ID, address ID, and hours in text and we created a separate table for the café, employees, isles, books, and publishers. Also, underneath those tables, we added information that is essential to identify the table. After that, we created several SQLs that can input data for bookstore businesses, employees, café, and aisles. Also, we wanted to Add data that are specifically identified for each table so, for example for the employees’ table, we added the employee store code and position an additional two just basic information about the employee. Also, for the café, we wanted to add hours of when the café is open to bringing a more unique aspect and on essential information for that table.

- Provide all code to create and populate your database.

In [8]:
%load_ext sql
%sql sqlite:///bookstore.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @bookstore.db'

In [9]:
%%sql
DROP TABLE IF EXISTS BookStoreBusiness;
CREATE TABLE BookStoreBusiness(StoreID text primary key, 
                               CafeID text, 
                               EmployeeID text, 
                               AislesID text, 
                               Address text, 
                               Hours text);

 * sqlite:///bookstore.db
Done.
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS Cafe;
CREATE TABLE Cafe(CafeID text primary key,
                  EmployeeID text,
                  Hours text);

 * sqlite:///bookstore.db
Done.
Done.

[]

In [11]:
%%sql
DROP TABLE IF EXISTS Employees;
CREATE TABLE Employees(EmployeeID text primary key,
                       EmployeeStoreCode text,
                       Position text,
                       FirstName text,
                       LastName text,
                       PhoneNumber text);

 * sqlite:///bookstore.db
Done.
Done.

[]

In [12]:
%%sql
DROP TABLE IF EXISTS Aisles;
CREATE TABLE Aisles(AislesID text primary key,
                    AislesStoreCode text,
                    Genres text);

 * sqlite:///bookstore.db
Done.
Done.

[]

In [13]:
%%sql 
DROP TABLE IF EXISTS Books;
CREATE TABLE Books(ISBN text primary key,
                   AislesId text,
                   PublisherID text,
                   Genres text,
                   Title text,
                   Price real);

 * sqlite:///bookstore.db
Done.
Done.

[]

In [14]:
%%sql
DROP TABLE IF EXISTS Publishers;
CREATE TABLE Publishers(PublisherID text primary key,
                        Address text,
                        PhoneNumber text);

 * sqlite:///bookstore.db
Done.
Done.

[]

In [15]:
%%sql
insert into BookStoreBusiness values('State College Bookstore','State College Cafe','SC_Employee','SC_Aisles','State College, PA','9:00am - 9:00pm');
insert into BookStoreBusiness values('Philadelphia Bookstore','Philadelphia Cafe','Phi_Employee','Phi_Aisles','Philadelphia, PA','8:00am - 10:00pm');
insert into BookStoreBusiness values('New York City Bookstore','New York City Cafe','NYC_Employee','NYC_Aisles','New York City, NY','8:00am - 10:00pm');
insert into BookStoreBusiness values('West Chester Bookstore','West Chester Cafe','WC_Employee','WC_Aisles','West Chester, PA','9:00am - 9:00pm');
insert into BookStoreBusiness values('Long Beach Bookstore','Long Beach Cafe','LB_Employee','LB_Aisles','Long Beach, CA','9:00am - 9:00pm');

 * sqlite:///bookstore.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [16]:
%%sql 
insert into Employees values('SC01', 'SC_Employee', 'Manger', 'John', 'Smith','(484) 294-5902');
insert into Employees values('SC02','SC_Employee','Cashier','Allison','Johnson','(610) 348-4982');
insert into Employees values('SC03','SC_Employee','Book Stocker','David','Brown','(324) 303-3042');
insert into Employees values('SC04','SC_Cafe_Employee','Barista','Jennifer','Jones','(422) 349-1230');
insert into Employees values('Phi01','Phi_Employee','Manger','Richard','Wilson','(234) 432-9912');
insert into Employees values('Phi02','Phi_Employee','Cashier','Thomas','Miller','(345) 456-0989');
insert into Employees values('Phi03','Phi_Employee','Book Stocker','Susan','Davis','(983) 234-5423');
insert into Employees values('Phi04','Phi_Cafe_Employee','Barista','Christopher','Anderson','(203) 834-2139');
insert into Employees values('NYC01','NYC_Employee','Manger','Nancy','Jones','(239) 439-2039');
insert into Employees values('NYC02','NYC_Employee','Cashier','Anthony','McMorris','(134) 430-1238');
insert into Employees values('NYC03','NYC_Employee','Book Stocker','Melissa','Roberts','(245) 239-4589');
insert into Employees values('NYC04','NYC_Cafe_Employee','Barista','Rebecca','Knight','(902) 238-2093');
insert into Employees values('WC01','WC_Employee','Manger','Mark','Homes','(123) 459-2390');
insert into Employees values('WC02','WC_Employee','Cashier','Tony','Smith','(733) 323-9432');
insert into Employees values('WC03','WC_Employee','Book Stocker','Abigail','Johnson','(399) 934-4238');
insert into Employees values('WC04','WC_Cafe_Employee','Barista','Kevin','Tatu','(984) 238-0934');
insert into Employees values('LB01','LB_Employee','Manger','John','Edwards','(610) 392-3942');
insert into Employees values('LB02','LB_Employee','Cashier','Laura','Da Silva','(484) 120-3290');
insert into Employees values('LB03','LB_Employee','Book Stocker','Ryan','Lin','(679) 237-6742');
insert into Employees values('LB04','LB_Cafe_Employee','Barista','Jacob','Joseph','(765) 239-9034');

 * sqlite:///bookstore.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [17]:
%%sql
insert into Cafe values('State College Cafe','SC_Cafe_Employee','10:00am - 5:00pm');
insert into Cafe values('Philadelphia Cafe','Phi_Cafe_Employee','9:00am - 6:30pm');
insert into Cafe values('New York City Cafe','NYC_Cafe_Employee','9:00am - 6:30pm');
insert into Cafe values('West Chester Cafe','WC_Cafe_Employee','10:00am - 5:00pm');
insert into Cafe values('Long Beach Cafe','LB_Cafe_Employee','9:30am - 5:30pm');

 * sqlite:///bookstore.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [18]:
%%sql
insert into Aisles values('SC_Aisle01','SC_Aisles','Textbook');
insert into Aisles values('SC_Aisle02','SC_Aisles','Biography');
insert into Aisles values('Phi_Aisle01','Phi_Aisles','Biography');
insert into Aisles values('Phi_Aisle02','Phi_Aisles','Science Fiction');
insert into Aisles values('NYC_Aisle01','NYC_Aisles','History');
insert into Aisles values('NYC_Aisle02','NYC_Aisles','Action');
insert into Aisles values('WC_Aisle01','WC_Aisles','Action');
insert into Aisles values('WC_Aisle02','WC_Aisles','Science Fiction');
insert into Aisles values('LB_Aisle01','LB_Aisles','History');
insert into Aisles values('LB_Aisle02','LB_Aisles','Textbook');

 * sqlite:///bookstore.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [19]:
%%sql
insert into Books values('1471672122','SC_Aisle01','Gulf Coast Books', 'Textbook', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable','13.60');
insert into Books values('1077076627','SC_Aisle01','Discover Books','Textbook','Objective-C (Spanish Edition)','25.80');
insert into Books values('2501135929','SC_Aisle02','Hippo Books','Biography','Shoe Dog: A Memoir by the Creator of Nike','11.38');
insert into Books values('3451648537','SC_Aisle02',' Ginny6Books','Biography','Steve Jobs','11.24');
insert into Books values('1501135929','Phi_Aisle01','Hippo Books','Biography','Shoe Dog: A Memoir by the Creator of Nike','11.38');
insert into Books values('1451648537','Phi_Aisle01',' Ginny6Books','Biography','Steve Jobs','11.24');
insert into Books values('3785031139','Phi_Aisle02','Ebury Press','Science Fiction','The Martian','5.90');
insert into Books values('4783293691','Phi_Aisle02','Titan Books','Science Fiction','Interstellar: The Official Movie Novelization','6.79');
insert into Books values('5393317552','NYC_Aisle01','W. W. Norton & Company','History','Guns, Germs, and Steel: The Fates of Human Societies','5.75');
insert into Books values('5143118188','NYC_Aisle01','Penguin Publishing Group','History','D-Day : The Battle for Normandy','5.59');
insert into Books values('6590353403','NYC_Aisle02','Scholastic Press','Action','Harry Potter And The Sorcerers Stone','11.99');
insert into Books values('6307887448','NYC_Aisle02','Ballantine Books','Action','Ready Player One: A Novel','12.82');
insert into Books values('0590353403','WC_Aisle01','Scholastic Press','Action','Harry Potter And The Sorcerers Stone','11.99');
insert into Books values('0307887448','WC_Aisle01','Ballantine Books','Action','Ready Player One: A Novel','12.82');
insert into Books values('1785031139','WC_Aisle02','Ebury Press','Science Fiction','The Martian','5.90');
insert into Books values('1783293691','WC_Aisle02','Titan Books','Science Fiction','Interstellar: The Official Movie Novelization','6.79');
insert into Books values('0393317552','LB_Aisle01','W. W. Norton & Company','History','Guns, Germs, and Steel: The Fates of Human Societies','5.75');
insert into Books values('0143118188','LB_Aisle01','Penguin Publishing Group','History','D-Day : The Battle for Normandy','5.59');
insert into Books values('0471672122','LB_Aisle02','Gulf Coast Books', 'Textbook', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable','13.60');
insert into Books values('6077076627','LB_Aisle02','Discover Books','Textbook','Objective-C (Spanish Edition)','25.80');

 * sqlite:///bookstore.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [20]:
%%sql
insert into Publishers values('Gulf Coast Books','3092 LAKEVIEW RD Memphis, TN 38116 USA','(832) 430-0788');
insert into Publishers values('Discover Books','830 N Westwood Ave, Toledo, OH 43607','(855) 702-6657');
insert into Publishers values('Hippo Books','Hippo Books. Toledo, OH, U.S.A.','(419) 241-3700');
insert into Publishers values('Ginny6Books','Manchester, IL, U.S.A.','(493) 750-9022');
insert into Publishers values('Ebury Press','20 Vauxhall Bridge Road London, SW1V 2SA','44 (0)20 7840 8400');
insert into Publishers values('Titan Books','1745 Broadway NY, NY 10019 USA','(800) 729-2960');
insert into Publishers values('W. W. Norton & Company','500 Fifth Avenue, New York City, New York USA','(212) 354-5500');
insert into Publishers values('Penguin Publishing Group','405 Murray Hill Pkwy, East Rutherford, NJ 07073','(201) 933-9292');
insert into Publishers values('Scholastic Press','00 Plaza Dr #4, Secaucus, NJ 07094 USA','(201) 633-2400');
insert into Publishers values('Ballantine Books','1745 Broadway, New York, NY 10019 USA','(212) 782-9000');

 * sqlite:///bookstore.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

#Sceanrio
For the bookstore business we could log in to the store ID. Under the business, we could get an ID for the store itself and information for employees, isles, address, and the hours for the bookstore. Also, because the bookstore has a café you can get an ID with the cafe section That has information about the employee who works at the Café and the hours that is open. First of all, for the Isles, there is an aisle’s ID and we can get more information that is sectioned off with genre ISBN and shelf name. Also underneath that connected with the ISBN, we can get information about the box and that includes the genre, publisher ID, title, and price. Under that, we could get more information about publishers where take collects information about an address, phone number, and shelf information. Also, there is a separate section for store employees and it has their basic information like their first and last name, phone number, position, and code for the employee.


##3 Queries 
that would be helpful for either you or the user from this scenario and explain why this would be helpful (50 words per query). Queries should be unique from one another and utilize multiple types of SQL commands.

In [70]:
%%sql 
select s.CafeID, s.Address, s.Hours, g.Title, g.Price from BookStoreBusiness s, Books g

 * sqlite:///bookstore.db
Done.

[('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Steve Jobs', 11.24),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Steve Jobs', 11.24),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'The Martian', 5.9),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Ready Player One: A Novel', 12.82),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Ready Player One: A Novel', 12.82),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'The Martian', 5.9),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('State College Cafe', 'State College, PA', '9:00am - 9:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Steve Jobs', 11.24),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Steve Jobs', 11.24),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'The Martian', 5.9),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Ready Player One: A Novel', 12.82),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Ready Player One: A Novel', 12.82),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'The Martian', 5.9),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('Philadelphia Cafe', 'Philadelphia, PA', '8:00am - 10:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Steve Jobs', 11.24),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Steve Jobs', 11.24),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'The Martian', 5.9),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Ready Player One: A Novel', 12.82),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Ready Player One: A Novel', 12.82),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'The Martian', 5.9),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('New York City Cafe', 'New York City, NY', '8:00am - 10:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Steve Jobs', 11.24),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Steve Jobs', 11.24),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'The Martian', 5.9),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Ready Player One: A Novel', 12.82),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Ready Player One: A Novel', 12.82),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'The Martian', 5.9),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('West Chester Cafe', 'West Chester, PA', '9:00am - 9:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Objective-C (Spanish Edition)', 25.8),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Steve Jobs', 11.24),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Shoe Dog: A Memoir by the Creator of Nike', 11.38),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Steve Jobs', 11.24),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'The Martian', 5.9),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Ready Player One: A Novel', 12.82),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Harry Potter And The Sorcerers Stone', 11.99),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Ready Player One: A Novel', 12.82),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'The Martian', 5.9),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Interstellar: The Official Movie Novelization', 6.79),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Guns, Germs, and Steel: The Fates of Human Societies', 5.75),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'D-Day : The Battle for Normandy', 5.59),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Stock Image Calculus, Student Solutions Manual: MV: Multivariable', 13.6),
 ('Long Beach Cafe', 'Long Beach, CA', '9:00am - 9:00pm', 'Objective-C (Spanish Edition)', 25.8)]

This is a database that has all the information about the bookstore. That includes the café, the address, the hours, and every book that is sold in the bookstore. Also, it has the price next to it so anyone who is looking for a book can easily find where, when, and how much they need to pay for it.

In [62]:
%%sql 
select FirstName, LastName, EmployeeStoreCode, PhoneNumber from Employees group by FirstName

 * sqlite:///bookstore.db
Done.

[('Abigail', 'Johnson', 'WC_Employee', '(399) 934-4238'),
 ('Allison', 'Johnson', 'SC_Employee', '(610) 348-4982'),
 ('Anthony', 'McMorris', 'NYC_Employee', '(134) 430-1238'),
 ('Christopher', 'Anderson', 'Phi_Cafe_Employee', '(203) 834-2139'),
 ('David', 'Brown', 'SC_Employee', '(324) 303-3042'),
 ('Jacob', 'Joseph', 'LB_Cafe_Employee', '(765) 239-9034'),
 ('Jennifer', 'Jones', 'SC_Cafe_Employee', '(422) 349-1230'),
 ('John', 'Edwards', 'LB_Employee', '(610) 392-3942'),
 ('Kevin', 'Tatu', 'WC_Cafe_Employee', '(984) 238-0934'),
 ('Laura', 'Da Silva', 'LB_Employee', '(484) 120-3290'),
 ('Mark', 'Homes', 'WC_Employee', '(123) 459-2390'),
 ('Melissa', 'Roberts', 'NYC_Employee', '(245) 239-4589'),
 ('Nancy', 'Jones', 'NYC_Employee', '(239) 439-2039'),
 ('Rebecca', 'Knight', 'NYC_Cafe_Employee', '(902) 238-2093'),
 ('Richard', 'Wilson', 'Phi_Employee', '(234) 432-9912'),
 ('Ryan', 'Lin', 'LB_Employee', '(679) 237-6742'),
 ('Susan', 'Davis', 'Phi_Employee', '(983) 234-5423'),
 ('Thomas', 'Miller', 'Phi_Employee', '(345) 456-0989'),
 ('Tony', 'Smith', 'WC_Employee', '(733) 323-9432')]

If we alphabetize the names it is easier to find their information and If they are not on their shift the number is right next to their name so they could call them as soon as possible. Also, there is an employee store code so we could determine where this employee is stationed.

In [0]:
%%sql 
select PublisherID, PhoneNumber from Publishers;

 * sqlite:///bookstore.db
Done.

[('Gulf Coast Books', '(832) 430-0788'),
 ('Discover Books', '(855) 702-6657'),
 ('Hippo Books', '(419) 241-3700'),
 ('Ginny6Books', '(493) 750-9022'),
 ('Ebury Press', '44 (0)20 7840 8400'),
 ('Titan Books', '(800) 729-2960'),
 ('W. W. Norton & Company', '(212) 354-5500'),
 ('Penguin Publishing Group', '(201) 933-9292'),
 ('Scholastic Press', '(201) 633-2400'),
 ('Ballantine Books', '(212) 782-9000')]

In [44]:
%%sql
select count(*) from Employees;

 * sqlite:///bookstore.db
Done.

[(20,)]

It is important to know how many employees a company has because it determines how much salary we need to give them and as well as how many employees we need to place for each shift. Also because the bookstore has a supper café we need to know how many of each employee should be divided into working on and which section they would be working on.